.container {
  background-color: rgb(190, 100, 242);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: white;
  height: 80%;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  line-height: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.list-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.list {
  width: 75%;
  height: 40px;
  padding: 0 20px;
  background-color: rgb(238, 238, 238);
  caret-color: gray;
  border: none;
  border-radius: 5px;
}

.list:focus {
  outline: none;
}

.button {
  border: none;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background-color: rgb(240, 200, 250);
  border-radius: 5px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.list-item-area {
  width: 100%;
  flex: 1;
  background-color: rgb(238, 238, 238);
}
