/* to do list */
/* html,
body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
} */

/* //to do list

/* .box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  border: 2px solid red;
  text-align: center;
  margin-top: 5px;
} */

/* Love */

.App {
  width: 100%;
}

body {
  background-color: pink;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

.input {
  margin-top: 10px;
}

.plus {
  border: none;
  background-color: white;
  margin-left: 10px;
  cursor: pointer;
}

.crease {
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 4px 8px 0 8px;
}

.content {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.percent {
  display: flex;
  justify-content: space-around;
}

.title {
  margin-top: 30px;
  text-align: center;
}

.main-item {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(189, 125, 232);
  color: white;
  width: 120px;
  height: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-bottom: 5px;
}

.Like-area {
  margin-top: 20px;
  /* width: 100%; */
  /* background-color: red; */
  /* height: 300px; */
  display: flex;
  justify-content: space-around;
}

.Like-list {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #fff; */
}

.by-item-area {
  /* display: flex; */
  width: 120px;
  height: 30px;
  border: 1px solid rgb(180, 99, 153);
  border-radius: 15px;
  margin-bottom: 20px;
}

.by-item {
  text-align: center;
  line-height: 32px;
  /* justify-content: center; */
  /* align-items: center; */
}

.gs-item-area {
  /* display: flex; */
  width: 120px;
  height: 30px;
  border: 1px solid rgb(104, 99, 180);
  border-radius: 15px;
  margin-bottom: 20px;
}

.gs-item {
  text-align: center;
  line-height: 32px;
}

/* //Love */
