/* to do list */
html,
body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
.App {
  height: 100%;
}
/* //to do list */

/* .box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  border: 2px solid red;
  text-align: center;
  margin-top: 5px;
} */

/* Loce */
/* body {
  background-color: pink;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

.input {
  margin-top: 10px;
}

.plus {
  border: none;
  background-color: white;
  margin-left: 10px;
}

.crease {
  background-color: white;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.content {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

.title {
  margin-top: 30px;
  text-align: center;
}

.item {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(189, 125, 232);
  color: white;
  width: 120px;
  height: 100px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin-bottom: 5px;
} */

/* //Loce */
